[2022-07-19 05:44] seanlip opened #1 "Learner Diagnostic Test"
Description: Allow learners to evaluate their own understanding and be recommended the lessons that are most appropriate for them.

Requester: Nikhil Agarwal [nikhil.agarwal.2019@gmail.com](mailto:nikhil.agarwal.2019@gmail.com)

**Web links**
- [PRD](https://docs.google.com/document/d/1GrVORe_oMrFOt6SN_JyfIr06f_TlwfwvOVMYfqT4gZY/edit#heading=h.liiqbmwmz8j8)
- [Learner facing mocks](https://docs.go

[2022-07-19 05:45] seanlip opened #2 "Lesson Completion Screen"
**Requester**: Vishnu Nithin Reddy [nitinreddy226@gmail.com](mailto:nitinreddy226@gmail.com)

**Web Links**:
- [Figma Mock](https://www.figma.com/file/pRDxAiJE7HpcYtKsLu42Ax/Lesson-Completion-Screen?node-id=0%3A1)

[2022-07-19 05:53] seanlip opened #3 "Making Question Submission Workflow better on mobile"
**Requester**: Harshvardhan Singh [sharshvardhan101@gmail.com](mailto:sharshvardhan101@gmail.com)

Web Links:
- [With Question Submission workflow](https://www.figma.com/file/gpS0ZJhT1KWrjwWrY9Ow3T/Contributor-Dashboard---With-Question-Submission-Workflow?node-id=0%3A1)

[2022-07-19 05:54] seanlip opened #4 "Components"

[2022-07-19 05:54] seanlip opened #5 "Illustrations"
**Checklist**

Responsive Designs
- [ ] XL Desktop
- [ ] M Tablet
- [ ] S Mobile

[2022-07-19 05:56] seanlip opened #6 "Number line interaction"
Description: Add an interaction that allows users to answer using a [number line](https://byjus.com/maths/number-lines/).

**Web links:**

- https://docs.google.com/document/d/1cha8e5H4Dfb7t8cLL2VZYi02Ysk2YEdyyalY1dDqPXE/edit#heading=h.rpq25vez37fp
- https://www.figma.com/file/n5hOKwKFxBTx6umyEU8yfB/Numberline-interaction

**DESIGN APPROVAL CHECKLIST -- DO NOT EDIT.**

- [x] UX Design approved (An

[2022-07-19 05:57] seanlip opened #7 "Contributor Recognition"
The aim of this project is to provide translation and practice question contributors a way to see their achievements and to tie their contirbutions to larger positive goals.

Some work on this has already been done from a technical perspective but this hasn't been fully designed properly, so it would benefit from a look by designers.

**Web links**
- [Initial proposal](https://docs.google.com/docu

[2022-07-19 05:58] seanlip opened #8 "Voice Over"
To prototype making voiceovers faster or slower, and perhaps do a demo or make a [technical design doc (TDD)](https://github.com/oppia/oppia/wiki/Writing-design-docs) describing the different options and pros/cons.

**Web links**
- [Voiceover Speed Rate Change Feasibility Study and Demo](https://docs.google.com/document/d/1X3sc6QO1Dkf7krWE-RlpvJhSGAO7iTjur7W0v8zAJ64/edit#heading=h.oy9fxlxijjqx)

*

[2022-07-19 05:59] seanlip opened #9 "[Contributor Dashboard] Reviewer Dashboard"
Improve the reviewer dashboard experience.

**Web links**
- [PRD](https://docs.google.com/document/d/1lIXkcQwPcPeS715vhX6mY-lowzltLxE8v2QQEvFadks/edit#)
- [Cassie's Figma Mock](https://www.figma.com/file/tsXgvXeTnUu9IWr2YEa5xW/Oppia-Contributor-Dashboard?node-id=47%3A803)

[2022-07-19 05:59] seanlip commented on #9
Note: This must be designed for desktop + mobile.

[2022-07-19 06:02] seanlip opened #10 "Serial Chapter Launch"
**Child issues**
- [x] Available vs Coming Soon chapters
- [x] Chapter Count field
- [x] Unpublished Chapters Toast
- [x] Classroom Page
- [x] Email notifications
- [x] Learner Dashboard

**Web links**
- [Lo-Fi Mock](https://docs.google.com/document/d/1ICgLeyn1NukvjkRb4o5Pimv9gdME_G6tislia1oD9EY/edit#heading=h.zfdnhljgwfzo)
- [Creator User Flow Screenshots](https://docs.google.com/presentation/d/1

[2022-07-19 06:03] seanlip opened #11 "Credit + Team Page"
Update the design and consolidate the Team and credits page into one.

**Checklist**
- [X] L Desktop
- [X] M Tablet
- [X] S Mobile

[Designs](https://www.figma.com/file/U81n9d4jHT1S3HDAmeu4Sd/Oppia-Team%2FCredit-Page-(Diana's-Copy)?node-id=10%3A336&t=cRGN7io0VxlAqnV4-0)
[UXW](https://docs.google.com/document/d/1BmJoZwfF1QkXNGD8eFC3uklYAz45BS9wA4HDFfGhJfA/edit?usp=sharing)

[2022-07-19 06:04] seanlip opened #12 "Partnership Page"
Description: Update the partnerships page to include pictures and descriptions of partners.

[2022-07-19 06:05] seanlip opened #13 "Learner Group - Facilitator Side"
**Description**
be able to finish mock for desktop version by 1st July, both mobile and desktop version by 10th, and hand off to engineers.

**Web links**
- [Group MVP doc](https://docs.google.com/document/d/11bPIKXHyyeI2WTF4Ujk_4TjPw65TVv-7SAlD8mJZ65U/edit?usp=sharing)
- [PRD](https://docs.google.com/document/d/1GMkU_Vxi7Y69ZI4gRfxLaDpX-sWfaMZsGQdXasdeELQ/edit#heading=h.4xe0dz7wpghp)

**Checklist

[2022-07-19 06:05] seanlip commented on #13
(From Carrie)

Hi @ cwg421 thanks for letting us know!

[2022-07-19 06:06] seanlip opened #14 "Checkpoints (follow-up work)"
Enable learners to stop before finishing a lesson and pick up where they left off later.

(Note: base design is implemented, but there is follow-up work.)

**Responsive Designs**
- [ ] XL Desktop
- [ ] M Tablet
- [ ] S Mobile

[2022-07-19 06:06] seanlip opened #15 "Save Progress"
Enable learners to stop before finishing a lesson and pick up where they left off later.

[2022-07-19 06:07] seanlip opened #16 "Completing Web Design System style guide in Figma"
Things left to do:
- [ ] Transfer over Components (e.g. tooltips, dialogs) and Illustrations to Figma.
- [ ] Ensure all responsive designs are available:
  - [ ] XL Desktop
  - [ ] M Tablet
  - [ ] S Mobile

[2022-07-19 06:07] seanlip opened #17 "Type"
**Checklist**

- Responsive Designs
  - [ ] XL Desktop
  - [ ] M Tablet
  - [ ] S Mobile

[2022-07-19 06:07] seanlip opened #18 "Personas"

[2022-07-19 06:09] seanlip opened #19 "Android Beta Launch Page"
**Description**

Ishna Neamatullah @ishnaneamatullah

**Web links**
- [PRD](https://docs.google.com/document/d/1eNhjjXLj5sFsu6rSYjJBh124dR8ILoj0B8DRsPkeuRo/edit#heading=h.i3rbycmr1pn5)
- [Mocks](https://docs.google.com/presentation/d/1RxEErTzLoZHIc4mJDzjJ5OJxsDvIpXSmzovs4p3QiRA/edit#slide=id.gf4293f8f84_0_673)
- [Figma File](https://www.figma.com/file/3cJyYygIO51tHwW65xfxX6/Oppia-Android-Beta-Laun

[2022-07-19 06:09] seanlip commented on #19
(From Fiona)

Meeting minutes:
- Facilitated by Diana Chen
- Assigned UXD: Fiona Zeng
- Assigned UXW: Dana Pek

Lo-Fi mocks ready by Sunday Jul 17 at the latest 11:59PM PT
- Early stage collaboration between FZ and DP.

Following meeting TBA.

[2022-07-19 06:11] seanlip commented on #19
(From Fiona)

Jul 14, 2022

DP completed the first draft of UXW for…
- Landing Page (oppia.com/android)
- New Site Banner (To appear on the Homepage)
- Navbar Dropdown (when the user hovers over [Learn])
- Homepage Button

Jul 16, 2022

FZ designed the first draft of the Landing Page around the UXW and Ishna’s PPT Mocks.

FZ posted onto #general:

[2022-07-19 06:12] seanlip opened #20 "Android Icon for Google Play Store"
**Attachments**
![Google Play icon](https://user-images.githubusercontent.com/10575562/179678106-58ed879e-39d2-48bb-87d6-941cd1eb4050.png)

**Web links**
- [Icon Design Specifications](https://developer.android.com/distribute/google-play/resources/icon-design-specifications)

[2022-07-19 06:12] seanlip commented on #20
(From Fiona)

July 13, 2022 5:00pm PT

Meeting attendance: Fiona, Bob, Carrie, Sean

No one else knew how to create the SVG for Oppia’s Google Play icon, so I took it up.

[2022-07-19 06:12] seanlip commented on #20
(From Fiona)

FZ emailed Isalo and Ben— they'll make sure it gets to the relevant people. By emailing them directly, they can contact FZ if there are follow-up questions.

- For context, Isalo is the lead of the go-to-market team and should be POC for these things; Ben is the tech lead for Oppia Android.

[2022-07-19 06:13] seanlip opened #21 "Web language picker unification, Fallback behaviour when a lesson is not available in the selected language [Web only]"
**Checklist**
- Responsive Designs
  - [ ] XL Desktop
  - [ ] M Tablet
  - [ ] S Mobile

**DESIGN APPROVAL CHECKLIST -- DO NOT EDIT.**

- [ ] UX Design approved (Android mocks should include dark mode)
- [ ] UX Writing approved
- [ ] Product approved

_For a design project to be completed, it needs approval from UXD, UXW and PM. Please tag the following reviewers when your project is ready (it's e

[2022-07-19 06:14] seanlip opened #22 "Fallback behaviour when a lesson is not available in the selected language"
**Checklist**
- Responsive Designs
  - [ ] XL Desktop
  - [ ] M Tablet
  - [ ] S Mobile

[2022-07-19 06:14] seanlip opened #23 "Raising discoverability of language selection on the web [Web only]"
**Checklist**
- Responsive Designs
  - [ ] XL Desktop
  - [ ] M Tablet
  - [ ] S Mobile

[2022-07-19 06:15] seanlip opened #24 "How to Use This Design Guide, Table of Contents"
**Checklist**
- Responsive Designs
  - [ ] XL Desktop
  - [ ] M Tablet
  - [ ] S Mobile

[2022-07-19 06:15] #24 closed, assigned to nobody

[2022-07-19 06:15] seanlip opened #25 "Material Icon Library, Oppia Image Library"
**Checklist**

- Responsive Designs
  - [ ] XL Desktop
  - [ ] M Tablet
  - [ ] S Mobile

[2022-07-19 06:18] #25 closed, assigned to nobody

[2022-07-26 14:57] danapj opened #26 "Content Audit [Web/Mobile] [UXW]"
### Task Overview

**Task Description (Deliverable):** Do a content audit to ensure adherence to the style guide
**Priority:** Medium -- to do as a background task. If there are other content writing requests that come in, address those first
**Deadline:** -

**Audit Template to use (PLEASE MAKE A COPY):** [https://docs.google.com/document/d/1drc2-GjpkKWu2Xgodb1z66OQQ5k2NdiTzXl03aGgSkA/edit](Googl

[2022-07-27 14:09] danapj commented on #13
- [x] By 10 Jul -- Dana to add copy for web mocks
- [ ] August -- Dana to add copy for mobile mocks (in Figma comments)

[2022-07-31 14:33] danapj commented on #26
### 1 Aug Update

- Dana will assign these tasks to new writers as and when they join Oppia

[2022-07-31 14:36] danapj commented on #26
### 4 Aug update
- **Megan** will take up the learner-facing pages. Clarified on Discord that this can include the interface copy on the lessons 9though Sean says there's another ongoing review for lesson content). Will provide Dana an idea of her next milestone.
- **Janine** will continue with homepage and pick up the parent / facilitator pages

[2022-07-31 14:39] danapj commented on #19
### 31 Jul (Sun) Update

- Dana / Ishna are finalizing the copy (just waiting on some input from Isalo after the weekend on aligning with the Google playstore listing)
- Dana / Ishna / Fiona will meet on 1 Aug (Mon) to sync, and Dana will finalize copy on figma thereafter

[2022-07-31 14:44] danapj commented on #1
(29 Jul) -- Chantel had requested for UX Writer to look at copy for modal description

- [x] Dana to follow up

[2022-08-04 14:00] danapj commented on #19
### 4 Aug update

-  Isalo replied and is okay with keeping different text on the landing page and the Playstore listing (which is Ishna/Fiona/Dana's preference), but asked that we clarify some of the text. Isalo: "I think it's fine if the text is different, especially because only a subset of our target audience will find the app through this landing page. I think "learn together" is a bit mislea

[2022-08-04 17:58] carriesdoung commented on #11
[Copy from the UXW](https://docs.google.com/document/d/1ZZ_JrxlUAynvBoQ-wC4q024CNVm5haiV3uT9c2EL0oE/edit) @danapj

[2022-08-07 22:07] fionafyzeng commented on #18
- Carrie's Original [Google Slides](https://docs.google.com/presentation/d/1xJSEDUYIWcXeDDzByzKtGDmzbQi3OKd7w5pEsHNdLJI/edit?usp=sharing) (Slides 1-5)
- Fiona Zeng's [Figma Draft](https://www.figma.com/file/JjYn4tAdyqqnXGCC8OtWIq/Oppia-files-owned-by-Fiona-Zeng?node-id=0%3A1) (See page "Personas")

[2022-08-07 22:19] fionafyzeng commented on #18
FZ created profile cards on Figma, and then imported those graphics into Carrie's Google Slides. FZ created Slides 6-9 (4 slides) that includes revisions of clarity in wording and format.

FZ's 4 added slides of Personas are:

1. Educator Group Persona: Elementary school teacher
2. Learner Group Persona*: New learner at home
3. Contributor Group Persona: Volunteer Contributor
4. Donor Persona*: Pr

[2022-08-09 01:54] ghost opened #27 "Interview Questions for UX Volunteer Onboarding"
Create interview questions for UX volunteer onboarding
- motivation
- skills & knowledge
- prototyping

[2022-08-09 01:56] ghost opened #28 "Test Item"

[2022-08-11 15:26] carriesdoung opened #29 "Lesson Search"
Learners and teachers have difficulties finding the right lesson that fits their/the students level and need with current lesson search experience. This PRD proposes improvements for the learners’ and teachers’ lesson search experience

[PRD](https://docs.google.com/document/d/118pZ_BSse-YBFIqFjQDrhq1_Hk-VlpjqYWm980aBFEc/edit?usp=sharing)
Figma [https://www.figma.com/file/1Rosc1GnZhmwaKYPifH19w/Le

[2022-08-14 17:36] ghost commented on #27
Here's the screening email I'm sending to volunteer applicants via email:

Hi (NAME),

I appreciate your interest in volunteering at Oppia! My name is Mindi, and I am one of two volunteer UX Managers at Oppia.

We would like to know more about you through the following questions:

- What interests you about volunteering with Oppia?
- Please share a link to your portfolio, if available.
- What is y

[2022-08-14 19:02] ghost commented on #12
Next step: Input final copy and add curriculum mapping?

[https://www.figma.com/file/Wr79Z6J4KyoePAHggLHBVm/Oppia_Partner-Page_Carrie?node-id=768%3A2]

[2022-08-15 19:35] carriesdoung commented on #12
@findimue not sure if the copy has been approved yet.
Copy Document: https://docs.google.com/document/d/1ZZ_JrxlUAynvBoQ-wC4q024CNVm5haiV3uT9c2EL0oE/edit

[2022-08-17 02:03] danapj commented on #12
-

[2022-08-17 02:06] danapj commented on #11
Updating the UXW doc - https://docs.google.com/document/d/1Z1q9thrr4ms4Vv4tK3h4MrxharXW4lvz1hyaC2NxuSs/edit

[2022-08-17 15:57] danapj opened #30 "Beta Notice for Practice Questions"
Task: Write copy for beta notice for practice questions launch, to let users know: (a) the practice questions feature is in beta; and (b) it's only available in English for now.

Doc: https://docs.google.com/document/d/14EJ2p-JSAJKbu4TyII4ZEeMIpwG_zf8zhShOokvlWuA/edit

**Next milestone:** Dana needs to address Sean/Diana's comments

[2022-08-18 00:39] ghost commented on #1
Description: Allow learners to evaluate their own understanding and be recommended the lessons that are most appropriate for them.

[2022-08-18 00:45] seanlip commented on #15
Duplicate of #14

[2022-08-18 00:45] #15 closed, assigned to nobody

[2022-08-18 00:49] seanlip commented on #8
Not ready for design team yet -- will reopen later when it is.

[2022-08-18 00:53] ghost commented on #6
Assigned to Chloe; will resume within a couple weeks

[2022-08-18 01:01] ghost commented on #7
Most recent email from Hasitha Kaushan?

[2022-08-21 08:45] danapj commented on #30
21 Aug - Waiting on a reply on the UXD element from @fionafyzeng @findimue

[2022-08-21 09:08] danapj commented on #11
@carriesdoung, here's the final copy I've just reviewed and made final edits on: https://docs.google.com/document/d/1BmJoZwfF1QkXNGD8eFC3uklYAz45BS9wA4HDFfGhJfA/edit?usp=sharing

[2022-08-21 09:10] danapj commented on #12
Hi @carriesdoung @findimue I realised the previous doc linked in your comment above is not for the partnerships page. I did a little digging and found this: https://docs.google.com/document/d/1meuPc4wg7MBXynMZLt4I15V5ok1H95o1UOJAWWZtn4U/edit . Is there a more updated copy doc that you have access to? Otherwise I can just make direct comments/edits on Figma. But it seems curriculum mapping might ta

[2022-08-21 17:00] carriesdoung commented on #12
Hi @danapj, yes, I believe this one is the correct doc. We were planning to hyperlink to the curriculum mapping in the FAQ. Please confirm with Diana about this. The Curriculum Mapping is just a spreadsheet that isn't on the document, but I think we plan to build it out into another page. Feel free to comment on the Figma file! Thanks!

[2022-08-21 17:05] carriesdoung commented on #11
@seanlip @danapj @dchen97 hi! I just want to confirm that [this copy](https://docs.google.com/document/d/1BmJoZwfF1QkXNGD8eFC3uklYAz45BS9wA4HDFfGhJfA/edit) is final before I implement it in my mocks. Thanks!

[2022-08-21 17:18] ghost commented on #30
21 Aug - Replied to @danapj adding in @carriesdoung for her input

[2022-08-23 02:38] seanlip commented on #11
Thanks, I have taken a look at the copy and I made some suggestions, mainly to reduce the length of the text. Otherwise it LGTM!

[2022-08-24 18:41] fionafyzeng commented on #30
24 Aug - FZ replied to @danapj about the tooltip element.

[2022-08-24 20:53] fionafyzeng opened #31 "Test"
**Platform**
Oppia Web | Oppia Android (delete one)

**Describe the request**
A clear and concise description of what the request is (do you want UI designs, help with text, etc.).

**Context for the request**
Please provide enough context for the request. For example:
- Is this a new or existing feature?
- What is the broader user journey that this feature fits into?
- What is the current user ex

[2022-08-24 20:55] #31 closed, assigned to nobody

[2022-08-25 20:56] seanlip commented on #19
Hi! Just to check, this issue is for the entire Android page, not just the UXW portion, right?

If so, @fionafyzeng, could you please leave updates here as well? Thank you!

[2022-08-25 20:59] fionafyzeng commented on #19
Correct. Yes.

On Thu, Aug 25, 2022 at 1:57 PM Sean Lip ***@***.***> wrote:

[2022-08-28 16:08] danapj commented on #30
29 Aug - @fionafyzeng i don't have strong opinions about the tooltip, but wanted to give you some context: we still want people to know that it's beta **while** they are on the practice questions feature, and what beta means in this context. if we drop the tooltip, do you have other suggestions to express this?

also to clarify on point 2 -- this isn't related to the android beta launch! this is f

[2022-08-30 04:55] danapj commented on #16
Hi @findimue @fionafyzeng i would like to discuss if UXW can get involved in this so we can help create buttons etc with standardised strings? This will also help document some of the changes we've made (e.g. to deprecate the term 'chapters') into the design system as a whole. Lmk :) Thanks!

[2022-09-01 00:01] danapj opened #32 "Content Inventory"

[2022-09-05 14:35] danapj commented on #12
@carriesdoung i've taken a first pass at the copy. but haven't done the curriculum mapping yet. thanks!  @rebekahnt30 will take over

[2022-09-08 05:42] ningz2 commented on #14
UI needs to be polished up. The project is currently on pause and will resume in late September.

[2022-09-08 05:51] ningz2 commented on #13
The facilitator's part has been handed off to engineers and implemented. But some UI elements and wording still need to be polished up.

The learner's part only has a mid-fidelity version for the desktop view for now. The high-fidelity design for both desktop and mobile versions is requested in September.

[2022-09-08 21:18] rolandbellerud opened #33 "Mocks for Oppia Language Selector (Android)"
**Platform**
Oppia Android

**Describe the request**
Please provide consultative assistance on the mocks that I've created for the new Language Selector feature for the Android Oppia app. The mocks I have provided are primarily to communicate the general aim for this feature.

**Context for the request**
- This is a new feature for Oppia on Android
- This fits into the onboarding user journey, but

[2022-09-09 17:00] RioChanHY commented on #10
Classroom Page and Learner Dashboard are **done**

[2022-09-09 17:05] RioChanHY commented on #29
A clickable file is created but still has minor technical issues that need to work on

[2022-09-12 14:54] danapj opened #34 "Update the writing style guide for devs on Github"
**Description:** Update the writing style guide on Github (audience: developers) with the latest UXW style guide, especially items related to grammar/style, and user-facing terminology. The objective just to take out some key elements that would be relevant to devs

**Existing github style guide:** [https://github.com/oppia/oppia/wiki/Writing-style-guide](https://github.com/oppia/oppia/wiki/Writin

[2022-09-13 21:28] carriesdoung commented on #11
Here's the latest design file:
https://www.figma.com/file/VVkr1XN32HsCNmbGmlMPn0/Oppia-Team%2FCredit-Page?node-id=336%3A385
I'm incorporating the most current design components and copy text into the file.

After that, I think it's good for a final review from Diana + Sean.

[2022-09-14 20:22] partha-basu opened #35 "Mocks for Oppia In-App Surveys (Android)"
**Meeting Notes**
[[Notes]: In-app NPS Survey](https://docs.google.com/document/d/1s7OZpfVfVGK5nn5ciBaMqPlo344zRyND_jTTQLofanI/edit#)

**Platform**
Oppia Android

**Describe the request**
Need help create the final design based-off rough mocks in PRD. Two parts of this request
- UX design in-line with Oppia design language
- Review/tweak/approve language used in the mocks/feature

**Context**
- Th

[2022-09-15 20:41] fionafyzeng commented on #35
Hi Partha!

Just reaching out to let you know that we see this request.
@Dana P ***@***.***> will assign a UXW and I will assign a UXD for
this request as soon as we can. We'll connect with you once we have the UX
and content designers for you.

Cheers,
Fiona Zeng
UI/UX PROJECT MANAGER AT OPPIA

On Wed, Sep 14, 2022 at 1:22 PM partha-basu ***@***.***>
wrote:

[2022-09-19 22:17] fionafyzeng commented on #35
@danapj posted this request on #uxwriting on Discord on Sep 16, 2022 and had encouraged @MeganPurvis to consider Issue #35. Megan has not responded.

@findimue New UXD Michelle Kang requires a project to work on. I'd love it if you can assess whether she'd be a good fit for this project by introducing Issue #35; Or, feel free to take up this Oppia UXD project yourself to add to your portfolio. Kee

[2022-09-19 22:42] fionafyzeng commented on #10
@seanlip please tick Classroom Page and Learner Dashboard off of the Child issues list.

@RioChanHY we're looking forward to the progress of **_Email notifications_** :)

[2022-09-19 23:18] fionafyzeng commented on #13
@ningz2 will update checklist by EOD

COA: Meeting to take place on SEP 22 to discuss next steps.

[2022-09-19 23:58] seanlip commented on #10
done! (re ticking)

[2022-09-20 00:43] fionafyzeng commented on #16
SEP 8: Chantel Chan (CC) requested help with transferring AdobeXD Android mocks into Figma, since she will be beginning her new job as of today Sep 19. New UXD Yan Xu (YX) is eager to take on this task.

CC's availability:
- Monday or Tuesday: 4 PM ~ 6 PM
- Thursday or Friday: 8 AM ~ 9 AM or 4 PM ~ 5 PM

@findimue will be discussing this with YX tonight Sep 19 at 7:30pm about completing this first

[2022-09-20 01:06] fionafyzeng commented on #8
Is the email with the subject line _[Need help to review] PRD mock design: Improve App Listening to Study (voiceover) Experience_ related to Issue #8?

[2022-09-20 01:16] fionafyzeng commented on #30
@danapj Thoughts about how we should get a UXD to create a mockup of Issue #30 with the tooltip? And then we'll see whether we should find an alternate way to express this. It's nice to get a visual representation first and then collaborate from there as well. I'm neutral about the tooltip as of right now.

Thx for clarifying how this isn't related to the Android Beta Launch. I did get it mixed up

[2022-09-20 02:21] seanlip commented on #8
No, this is separate. This issue #8 is for the Web, and the other email is for voiceovers and Android.

[2022-09-20 05:07] ningz2 commented on #13
Facilitator Part:

90% desktop version
90% mobile version

Learner Part:

- [ ] desktop version
- [ ] mobile version

The tablet version TBD

[2022-09-20 17:53] ghost commented on #27
Explanation of interview format sent to candidate beforehand:
We are excited to invite you to interview with Oppia as a volunteer UX Designer. It is only one interview, 30 to 45 minutes in duration, held over Google Meet. Here’s what you can expect for the structure of the interview:

·         5 minutes – Interviewer provides a brief introduction of Oppia

·         10-15 minutes – You present a

[2022-09-20 17:56] ghost commented on #27
Interview questions:

What are your strengths as a designer?
What areas do you specifically hope to get more experience with through volunteering with Oppia?
We are located primarily in Pacific Time, on the West Coast of the U.S. We have one mandatory weekly meeting with all designers Mondays, 7:00-7:30 p.m. Pacific Time. Would you be able to attend that meeting on a regular basis?
How long do you

[2022-09-20 17:56] #27 closed, assigned to nobody

[2022-09-20 17:58] ghost opened #36 "Transfer AdobeXD Android Design Guide to Figma and finalize Android Design Guide"
Transfer AdobeXD Android Design Guide to Figma

[2022-09-20 17:59] ghost commented on #36
Chantel is working on this and Yan will help.

[2022-09-20 18:02] ghost commented on #16
I added the AdobeXD to Figma project as a separate issue.

[2022-09-20 18:19] ghost commented on #16
@danapj Yes, I think it makes sense for UXW to get involved in updating the Design Style Guide in [Figma](https://www.figma.com/file/nrQrOxSxSg1oabuVE6XJpa/Oppia-Design-Guide?node-id=297%3A3656). We are still identifying how to establish a changelog for the Design Style Guide, so once we have that in place and changes can be documented, we can establish a process for UXW. I will endeavor to resolv

[2022-09-21 10:42] kevintab95 commented on #19
Update from the technical implementation:

P0 changes are available on the development branch. Refer https://github.com/oppia/oppia/pull/16071 for list of changes / videos.

[2022-09-21 21:31] fionafyzeng commented on #19
@ishnaneamatullah Do we require any translation for the launch site? i.e. Portuguese, Swahili

[2022-09-21 21:35] ishnaneamatullah commented on #19
+Fiona Zeng ***@***.***> +KEVIN THOMAS ***@***.***>

Hi Fiona,

Yes, as we were discussing on the "Landing Page Engineering" email thread,
we will need BR Portuguese.

Did you have a specific question?

Thanks!
Ishna

On Wed, Sep 21, 2022 at 2:31 PM Fiona Zeng ***@***.***> wrote:

--

Ishna Neamatullah |  Senior Counsel |  Google LLC |  ***@***.***
Registered In-House Counsel in CA | Licensed only

[2022-09-22 13:19] danapj commented on #35
hi! as Partha has changed the title, we're now aware that this issue is for the in-app survey. @rebekahnt30 is considering working on this for the UXW team. Thanks! @fionafyzeng

[2022-09-22 13:20] danapj commented on #33
hi @fionafyzeng this is the actual issue for the language selector! @MeganPurvis will work on this for UXW. Let us know who's the designer on this project :) thanks!

[2022-09-22 15:43] danapj commented on #26
22 Sep update - Learner page updates are done, and pending Sean/Diana's thoughts

[2022-09-22 18:16] fionafyzeng opened #37 "Donation Page"
**PLATFORM**
Oppia Web

**THE REQUEST**
Update UI. Optimize UX. Revamp the whole page.

**CONTEXT**
Current [donation page](https://www.oppia.org/donate) is out of date.

**DEADLINES**
_TIME-SENSITIVE, URGENT_

- [ ] First iteration: Sep 26, 2022 at 7pm
- [ ] Final iteration: October
- [ ] Launch: November

[2022-09-27 15:59] danapj commented on #13
hi @ningz2 could i have an update on which mocks require finessing on the copy?

[2022-09-27 16:00] danapj commented on #30
@fionafyzeng yeah sounds good! if you have a UXD available, lmk who I can work with :)

[2022-09-27 17:10] MeganPurvis commented on #33
@rolandbellerud @danapj Request received! I currently don't have access to all of the relevant document links. Should I request that directly or wait to be given permission?

[2022-09-28 04:27] ningz2 commented on #13
Hi Dana, thanks for asking. No rush for now. We are now focusing on the learner part of this project.
Mindy may contact you if she needs help with the content.

[2022-09-28 23:38] partha-basu commented on #35
@rebekahnt30 - Just checking if you need any help/clarification on this. Let me know. Thanks!

[2022-09-29 01:09] danapj commented on #12
@carriesdoung we've updated the copy on figma, let us know if that's ok!

[2022-09-29 01:13] ghost opened #38 "Learner Group - Learner Side"
GSoC PRD [(https://docs.google.com/document/d/11bPIKXHyyeI2WTF4Ujk_4TjPw65TVv-7SAlD8mJZ65U/edit)]

PRD [https://docs.google.com/document/d/1GMkU_Vxi7Y69ZI4gRfxLaDpX-sWfaMZsGQdXasdeELQ/edit]

Figma file [https://www.figma.com/file/t21B6Jx1CuFvZYqVSEvBf2/Learner-Group-(Updated-Mocks-In-Progress)?node-id=0%3A1]

[2022-09-29 01:14] ghost commented on #20
@fionafyzeng Does this need Bob's or Chantel's final approval or is it handed off officially to PM/completed on the Design side?

[2022-09-29 01:16] ghost commented on #1
@danapj Is the copy for the modal description complete/UXW approved?
@mschanteltc Is there anything else needed here or is this complete/ready to hand off/handed off already?

[2022-09-29 01:21] fionafyzeng commented on #19
@kevintab95 I generated the mocks in the Google Pixel phone on Figma's Clay Mockups 3D plugin.

I'm not sure who owns the original file of the English screen designs, but I think [these](https://www.figma.com/file/4FhOLh32DrIiidAujGzTpV/Oppia-playstore-listing?node-id=59%3A528) English screenshots are (exactly) reflective to the mobile dimensions that I copied from whoever designed the screens fro

[2022-09-29 01:23] kevintab95 commented on #19
Hi @fionafyzeng, this is resolved for now. I managed to create a similar looking image with pt-br text. Thanks!

![android-landing-3](https://user-images.githubusercontent.com/11008603/192917298-29c4432f-a91a-4f78-bca0-3013445968e4.svg)

[2022-10-01 17:34] BenHenning commented on #20
We ended up going ahead with a similar icon (I had to make some adjustments)--I suggest installing the Oppia app from Play Store to see what the icon looks like for a reference.

That being said, there actually is one problem that we need to address yet: the contrast between white and the Oppia teal color is a bit off. The current contrast of the icon is 4.15:1 but Android accessibility guidelines

[2022-10-03 20:21] partha-basu commented on #35
@fionafyzeng - Checking in to see if we can prioritize this request please?

[2022-10-03 20:23] fionafyzeng commented on #35
Pushing the prioritization now. Will get back to you.

On Mon, Oct 3, 2022 at 1:22 PM partha-basu ***@***.***> wrote:

[2022-10-04 04:00] fionafyzeng commented on #35
@partha-basu Our newest designer Kaiyu Xu has the capacity to take this on. They do not have a Github account yet, but until then, you can schedule to coordinate through email/Google Chat/video (kaiyu.lilian@gmail.com) or Discord (Kaiyu#6162)

[2022-10-04 22:45] RioChanHY commented on #29
The fully clickable file passed to my PM(May)

[2022-10-04 22:48] RioChanHY commented on #10
working on a mobile version

[2022-10-05 05:07] ghost commented on #38
Working on UI for Learner Groups Individual Group Pages (aka group home, but called overview to avoid negative connotation of the term group home). Commitment is to have this design done by Thursday night U.S., Friday a.m. IND.

[2022-10-05 05:10] ghost commented on #36
https://www.figma.com/file/y6KqCZAj96JAPzX8nPXKez/Oppia-Android-App-(v01)?node-id=15%3A751
Link to mocks that are a work in progress

Tasks being kept track of on Trello: https://trello.com/invite/b/N4RU8DFU/f62ec218f0405e344f350a3dfc86027b/oppia-android-mocks-adobe-xd-figma

[2022-10-05 23:58] rebekahnt30 commented on #35
Hi @partha-basu and @fionafyzeng, I've been reviewing the PRD and mocks. I'm located in America eastern time. Let me know when is a good time to meet to discuss.

[2022-10-06 00:22] partha-basu commented on #35
I can do my early morning (I'm on the west coast) - Friday? Let me know how we should be connecting - if there is a preference on the mode / contact details.

[2022-10-06 16:49] rolandbellerud commented on #33
I approved the existing requests - anything else you need access to?

[2022-10-07 18:09] partha-basu commented on #35
Thank you @rebekahnt30 @kaiyuxu @danapj for the kick-off meeting. I'll append the Meeting notes to the original comment/issue at the top for reference & ongoing discussions. We should also update this thread with milestone progress.

[2022-10-12 00:17] danapj commented on #38
@moehaymark will work on the UXW review

[2022-10-19 00:53] juliafalarini opened #39 "Android Design System Issues"
**Platform**
Oppia Android

**Describe the request**

Design System Issues

**General**

- As a Designer I need general guidance on screen dimension standards (grids, spacing, margin, columns, gutter) to use. This is important to standardize spaces between components. Below I have indicated what I am currently using, but it would be interesting to standardize this.

Grids - I'm currently using 8x8

[2022-10-19 01:36] ghost commented on #39
"As a designer, I need to know what are the deliverables Design-to-development handoff. Is it necessary to design the screen in more than one dimension or just Android Small? If so, we should standardize the frame sizes that need to be developed."
We need the screens 720 width by 1080 height for tablet as well as the mobile for Android.

[2022-10-19 01:38] ghost commented on #39
Regarding icons, we would use Material Design icons whenever possible. Custom icons would follow the parameters laid out for Material Design: https://m2.material.io/design/iconography/system-icons.html#design-principles

[2022-10-19 20:44] Sumita23 commented on #10
I've completed my UX writing pass--it's ready for review

[2022-10-20 00:58] ghost commented on #39
I created a simple grid and shared the link, but pasting here for redundancy.
https://www.figma.com/file/6uVMg4wf731DmCYFVTNAaj/Oppia-Material-Design-Grid?node-id=0%3A1
https://m2.material.io/components/app-bars-top#specs
https://m2.material.io/components/app-bars-bottom#specs

[2022-10-24 13:02] danapj opened #157 "[Transferred from Web repo] Update to strings on Oppia.org (Learner Pages)"
**Describe the Issue **
This issue is being filed on behalf of the UX writing team to update some of the strings on select pages of the site (learner facing pages).

**1 / Dropdown on the navbar**
<img width="519" alt="image15" src="https://user-images.githubusercontent.com/62091156/197522795-5ff3fa49-9d72-4c90-ad6c-6b515e9c7509.png">
- Change "Basic Mathematics" to "Math"
- Change the description

[2022-10-31 18:52] ghost opened #40 "Web Design Style Guide - Missing/Wishlist Items"
Wishlist for Design style guide

https://www.figma.com/file/nrQrOxSxSg1oabuVE6XJpa/Oppia-Design-Guide?node-id=312%3A2506&t=P8vILcnWt7Ena5FR-1

Figma designs of current

- [x] Web header

- [x] Web footer

- [x] Tooltips

[2022-11-01 00:45] mschanteltc commented on #39
Hi Julia, thanks for this breakdown! Just wondering, how important is it to have components animate from one state to another? For example, the dropdown menu is one of the most difficult components to create since it transitions from a collapsed to an expanded state, and vice versa.

Also you can use this as a [reference](https://xd.adobe.com/view/dfe8ccd4-39eb-414d-a0b2-b5674357f966-8abb/grid) fo

[2022-11-02 01:59] paprajapati9 opened #155 "[Transferred from Web repo] Improve learners' progress UX for facilitator view on edit learner group page"
**Describe the bug**
Currently learners' progress is shown in an expandable panel and it's difficult to recognise what is shown under the progress

**Observed behavior**
There is no clarity of what is shown under the progress expandable panel.

**Expected behavior**
The UX should be more clear to make is easier for facilitator to understand what is shown under the progress

**Screenshots / Videos*

[2022-11-12 04:20] ghost commented on #2
@seanlip Not sure what this is -- just has Figma Mock link, no PRD. Is this complete?

[2022-11-12 04:21] ghost commented on #9
@seanlip @dchen97 Does this need additional attention? Carrie has been on a break, but would like to return soon.

[2022-11-12 04:25] ghost commented on #33
@rolandbellerud What do you need next to move forward on this?

[2022-11-12 04:25] ghost commented on #21
@seanlip @dchen97 Is there a PRD for this request?

[2022-11-13 05:45] seanlip commented on #2
Yeah, I think this is complete -- at least I don't think it's an active to-be-designed project any longer. Closing, thanks!

[2022-11-13 05:45] #2 closed, assigned to nobody

[2022-11-13 05:48] seanlip commented on #9
Confirming that this does need attention and hasn't been finalized yet. I also see a couple of comments in the Figma file that haven't been responded to.

@dchen97 Who should be the product contact for this project? Do you think it would be worth having one of the PMs do a full review of the current mocks, so that the incoming designer (probably Carrie?) knows what's left to address?

[2022-11-13 05:51] seanlip commented on #21
Sorry, need to defer to @dchen97 for this one.

[2022-11-15 00:15] ghost commented on #1
I will review Nikhil's PR video for this tonight. https://github.com/oppia/oppia/pull/16489

[2022-11-15 03:18] #28 closed, assigned to nobody

[2022-11-16 01:01] dchen97 commented on #21
https://docs.google.com/document/d/1lfx8y12kuP0m9xylG_ju0K2ITIrnVkJqx8BhVsnGXHo/edit

[2022-11-16 01:02] dchen97 commented on #23
PRD: https://docs.google.com/document/d/1lfx8y12kuP0m9xylG_ju0K2ITIrnVkJqx8BhVsnGXHo/edit

[2022-11-16 01:02] dchen97 commented on #22
PRD: https://docs.google.com/document/d/1lfx8y12kuP0m9xylG_ju0K2ITIrnVkJqx8BhVsnGXHo/edit

[2022-11-16 22:30] dchen97 commented on #30
@danapj Do we still have anything left here for UXW to do or is it just UXD?

[2022-11-16 22:31] dchen97 commented on #16
What exactly is the status of this project? Is there a deadline / ETA associated with this?

[2022-11-16 22:32] dchen97 commented on #11
@carriesdoung - What's the status of this project? Is it ready for final review?

[2022-11-17 00:24] danapj commented on #30
UXD now @dchen97 !

[2022-11-17 01:15] dchen97 commented on #30
Cool I've unassigned you then and assigned to @findimue to identify a designer whenever one is ready! Thanks @danapj!

[2022-11-17 01:16] dchen97 commented on #37
Marking as Handed off to PM as this is already being implemented (and almost done!)

[2022-11-17 01:17] dchen97 commented on #40
Could we also add one item for tooltips?

[2022-11-17 01:31] ghost commented on #40
@dchen97 Sure. Do you have examples of tooltips you want them modeled after, or do you want a new tooltip template created for future use?

Unify tooltips. Reference existing samples.

[2022-11-17 01:40] ghost commented on #9
Need to address Figma comments and finalize this. Review Figma file, see what needs finishing.

[2022-11-17 01:42] ghost commented on #3
Email Harshvardhan and ask about status of this request.

[2022-11-17 01:43] ghost commented on #7
Check in with Hasitha on this GSoC project for whether it needs any updates/polish from UXD.

[2022-11-17 01:45] ghost commented on #33
Email Roland for status/check-in.

[2022-11-17 01:48] ghost commented on #21
Email Julia to see where progress is on this and what can be assigned.

[2022-11-17 01:52] ghost commented on #6
Assign to another designer

[2022-11-17 02:25] rolandbellerud commented on #33
The technical team has what they need as far as the mocks, so I think we can close this out.

[2022-11-17 02:25] #33 closed, assigned to nobody

[2022-11-22 20:01] juliafalarini commented on #39
Thanks @findimue, looks good!

[2022-11-22 20:11] juliafalarini commented on #39
@findimue thanks! do we also have the parameters for margins, columns and gutters?
and can I have this same file for tablet 720x1080?

[2022-11-29 01:45] ghost commented on #155
@seanlip This would be good for Ning to look back at this.

[2022-11-29 01:53] ghost commented on #36
@mschanteltc Do you have an idea of what percentage of this still needs to be ported over to Figma?

[2022-11-29 01:57] ghost commented on #10
@danapj Have you reviewed Sumita's UXW pass?

[2022-11-30 17:32] juliafalarini commented on #39
Hi @mschanteltc thanks for sharing! About the dropdown, I created on based on the Material Design, you can check it [here](https://www.figma.com/file/PnCtQKDR5VWbIlA3Ui7rTa/Oppia---Onboarding-Android-App?node-id=1035%3A4122). Do you think we can integrate it to the Design System?

[2022-11-30 17:55] juliafalarini opened #41 "Doubts and Suggestions - Android Design System"
I've been working on the prototype for the Android Onboarding Flow, and we finished the first round of testing. Now I'm working to fix some issues and adjust the prototype to a high-fidelity according to the Design System, and I have some questions and suggestions.

**Platform**
Oppia Android

**Describe the request**

**Typography**

- Is the Line height always "Auto" for all text styles?
- Can I

[2022-11-30 17:57] juliafalarini commented on #41
<!--
I've been working on the prototype for the Android Onboarding Flow, and we finished the first round of testing. Now I'm working to fix some issues and adjust the prototype to a high-fidelity according to the Design System, and I have some questions and suggestions.

**Platform**
Oppia Android

**Describe the request**

**Typography**

- Is the Line height always "Auto" for all text styles?
-

[2022-11-30 17:57] juliafalarini commented on #41
test

[2022-11-30 23:25] seanlip commented on #18
Julia is working on this and it's tracked separately as a broader collaboration with the UXR team, so I'm going to close this issue.

[2022-11-30 23:25] #18 closed, assigned to fionafyzeng